
@{
    ViewBag.Title = "公共聊天室";
}

<script src="~/JsCommon/BoxScript2.js?v=3"></script>
<link rel="stylesheet" href="~/StyleCommon/BoxCss2.css?v=3" type="text/css" />

<div class="triangle">
    <ul>
        <li class="textLeft">
            <span>Hello World~</span>
        </li>
        
        <li class="textRight">
            <span>悲剧2</span>
        </li>
    </ul>
</div>