
@{
    ViewBag.Title = "公共聊天室";
}

<script src="~/JsCommon/PhoneHelper.js?v=3"></script>
<script src="~/JsCommon/BoxScript2.js?v=4"></script>

<link rel="stylesheet" href="~/StyleCommon/BoxCss2.css?v=3" type="text/css" />

<h4>GPU:<span id="txtGpu"></span></h4>
<h4>分辨率:<span id="txtResolution"></span></h4>
<h4>手机型号:<span id="txtmodels"></span></h4>
<h4>浏览器代理:<span id="txtUserAgent"></span></h4>
