
@{
    ViewBag.Title = "公共聊天室";
}

<script src="~/JsCommon/BoxScript3.js?v=3"></script>
<link rel="stylesheet" href="~/StyleCommon/BoxCss3.css?v=3" type="text/css" />

<div class="mainDiv">
    <div class="contentDiv">


        <div class="dialogBox leftDialog">
            <div class="imgBox"></div>
            <div class="msgBox">
                <div class="timeRow"></div>
                <div class="msgRow"></div>
            </div>
        </div>


    </div>
    <div class="keyboardDiv"></div>
</div>



 

