@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>系统出现未知异常</h1>
        <h4>@ViewData["ErrMsg"]</h4>
    </div>
</body>
</html>
