
@{
    ViewBag.Title = "公共聊天室";
}

    <script src="~/JsCommon/BoxScript.js"></script>
    <link rel="stylesheet" href="~/StyleCommon/BoxCss.css" type="text/css" />

<div class="triangle">
    <ul>
        <li class="textLeft">
            <span>马天宇小哥哥在吗~</span>
        </li>
        <li class="textRight">
            <span>在的呢！</span>
        </li>
        <li class="textLeft">
            <span>在干嘛</span>
        </li>
        <li class="textRight">
            <span>顶你个肺</span>
        </li>
        <li class="textLeft">
            <span>(⊙o⊙)…</span>
        </li>
        <li class="textRight">
            <span>悲剧</span>
        </li>
    </ul>
</div>